
3.Traffic-monitoring-in-bangladesh/Exam/
2.Crop-Disease-Uganda/Exam/
5.Medical-Data-in-Spain/Exam/
2.Crop-Disease-Uganda/Lesson2-4/pretrained_model.pth
2.Crop-Disease-Uganda/Lesson2-4/training_records.pkl
4.Celebrity-Sightings-in-India/Lesson4.2.Data-Exploration/project4/data/mary_kom.mp4
2.Crop-Disease-Uganda/Lesson2-5/model_trained.pth
3.Traffic-monitoring-in-bangladesh/Lesson3-3-Object-Detection-With-YOLO/data-video/dhaka_traffic.mp4
3.Traffic-monitoring-in-bangladesh/Lesson3-3-Object-Detection-With-YOLO/yolov8s.pt
3.Traffic-monitoring-in-bangladesh/Lesson3-4-3.4-Training-YOLO-for-Custom-Classes/yolov8n.pt
3.Traffic-monitoring-in-bangladesh/Lesson3-4-3.4-Training-YOLO-for-Custom-Classes/yolo11n.pt
3.Traffic-monitoring-in-bangladesh/Lesson3-5-Data-augmentation/yolo11n.pt
3.Traffic-monitoring-in-bangladesh/Lesson3-5-Data-augmentation/yolov8n.pt